.App {
  xtext-align: center;
}

.pilt{ width:200px ;border: 1px sold red}


.Linn_sisu{
  color:#333333;
  display: inline-block;
  text-align:left;
  padding:10px;
  vertical-align: top;
  width:220px;
}
